.overflow{
    height: 40%;
    overflow:hidden;
}
.overflow .card-img-top{
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover{
    transform: scale(1.8);
    
}
.not-found{
    margin-top: 15%;
    text-align: center;
}
.not-found a{
    color: blue;
    text-decoration: underline;
}

.confidential{
    margin-top: 15%;
    text-align: center;
}

.not-found a{
    color: blue;
    text-decoration: underline;
}